/*nav,div,p,img {
    border: 1px solid red;
}*/

body{
    background-color: #2F303A;
    width: 90%;
    margin: 0px auto;
    @font-face {
        font-family: "Avenir LT Std";
        src: url('./avenirltstd-light.otf') format("otf");
       }
}
article{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
section{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#menu{
    background-color: #967E72;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 90px;
}
#logo{
    width: 250px;
    height: 50px;
    background-image: url(./img/snail-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto 0px;
}
#equipe{
    width: 150px;
    height: 50px;
    display: table;
    margin: auto 0px;
    background-color: rgba(117, 95, 86, 0.5);
    border-radius: 15px;
}
#equipe > a{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: black;
}
#news{
    width: 150px;
    height: 50px;
    display: table;
    margin: auto 0px;
    background-color: rgba(117, 95, 86, 0.5);
    border-radius: 15px;
}
#news > a{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: black;
}
#partenaires{
    width: 150px;
    height: 50px;
    display: table;
    margin: auto 0px;
    background-color: rgba(117, 95, 86, 0.5);
    border-radius: 15px;
}
#partenaires > a{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: black;
}
#logoreseauxsociaux{
    width: 330px;
    height: 50px;
    background-image: url(./img/réseaux-sociaux-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto 0px;
}
#preface{
    width: 100%;
    height: 500px;
    color: white;
    position: relative;
    background-color: ;
}
#preface > div{
    position: absolute;
    left: 5%;
    top: 20%;
}
#preface > div > h1{
    width: 500px;
    font-size: 32px;
}
#preface > div > p{
    width: 300px;
}
#preface > img{
    object-fit: fill;
    filter: opacity(0.7);
    width: 100%;
    height: 100%;
}
#mission-plusdon{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#mission{
    width: 50%;
    height: 450px;
    background: linear-gradient(rgba(166, 126, 126, 0.8), rgba(166, 126, 126, 0.9)), url("./img/mission.jpg");
    background-size: cover;
    color: white;
}
#mission > h1{
    width: 100%;
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
}
#mission > p{
    width: 80%;
    text-align: center;
    margin: 0px auto;
}
#mission > a{
    display: block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    line-height: 32px;
    width: 150px;
    text-align: center;
    margin: 30px auto;
    padding: 7px;
}
#plusdon{
    width: 50%;
    height: 450px;
    background: linear-gradient(rgba(166, 126, 126, 0.8), rgba(202, 145, 103, 0.9)), url("./img/plusdon.jpg");
    background-size: cover;
    color: white;
}
#plusdon > h1{
    width: 100%;
    font-size: 36px;
    text-align: center;
    font-weight: lighter;
}
#plusdon > p{
    width: 80%;
    text-align: center;
    margin: 0px auto;
}
#plusdon > a{
    display: block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    line-height: 32px;
    width: 150px;
    text-align: center;
    margin: 30px auto;
    padding: 7px;
}
#wildcards{
    width: 100%;
    height: 650px;
    background-color: #B6856F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#news1, #news2, #news3, #news4{
    position: relative;
    width: 200px;
    height: 400px;
    margin: auto 0px;
    background-color: rgb(255, 255, 255);
}
#news1 > img, #news2 > img, #news3 > img, #news4 > img {
    width: 100%;
    height: 50%;
    object-fit: fill;
    display: block;
}
#news1 > div, #news2 > div, #news3 > div, #news4 > div {
    width: 100%;
    height: 50%;
}
#news1 > div > h3, #news2 > div > h3, #news3 > div > h3, #news4 > div > h3 {
    position: relative;
    top: -17px;
    padding: 5px;
    text-align: center;
    background-color: rgba(141, 72, 72, 0.7);
    color: white;
    font-weight: bold;
    font-size: 24px;
    width: 80%;
    margin: 0px auto;
    line-height: 24px;
}
#news1 > div > h4, #news2 > div > h4, #news3 > div > h4, #news4 > div > h4 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}
#news1 > div > p, #news2 > div > p, #news3 > div > p, #news4 > div > p {
    text-align: center;
    width: 80%;
    margin: 0px auto;
}
#wildcards > div:nth-child(even){
    bottom: -50px;
}
#wildcards > div:nth-child(odd){
    bottom: +50px;
}

#autresassociations{
    background-color: #805F5F;
}
#autreslogos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 50px 0px 50px 0px;
}
#autresassociations > h1{
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
    text-align: center;
    color: white;
    font-size: 36px;
}
.assologo{
    width: 120px;
    height: 120px;
}
.assologo > a > img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
footer{
    height: 100px;
}